<form action="/signup" method="post">
  <input type="email" name="email" placeholder="Votre email" />
  <input type="password" name="password" placeholder="Votre mot de passe" />
  <button type="submit">Envoyer</button>
</form>