<form action="/users/signup" method="POST">
  <input type="text" name="username" placeholder="Your username..." />
  <input type="password" name="password" placeholder="Your password..." />
  <label for="city">Select your city</label>
  <select name="city">
    <option value="paris">Paris</option>
    <option value="tokyo">Tokyo</option>
    <option value="losangeles">Los Angeles</option>
  </select>
  <button type="submit">Envoyer</button>
</form>